= form_tag(controller: "address", action: "create", method: "post") do
  .field
    = label_tag :address, "Adresse :"
    = text_field_tag :address

    div style = "display:none"
      = text_field_tag :number
      = text_field_tag :street
      = text_field_tag :city
      = text_field_tag :postal_code
      = text_field_tag :country


    = submit_tag 'Save '

