h1 Adress Picker
div
  .btn-group role="group"
    =link_to 'croissant', address_index_path(order: 'ASC'), class:"btn btn-default"
    =link_to 'decroissant', address_index_path(order: 'DESC'), class:"btn btn-default"

  =link_to 'ajouter une adresse', new_address_path, class:"btn btn-primary"
div
  table.table.table-striped
    thead
      th numéro
      th rue
      th ville
      th code postal
      th pays
    tbody
      -localisations.each do |localisation|
        tr
          td =localisation.number
          td =localisation.street
          td =localisation.city
          td =localisation.postal_code
          td =localisation.country


