/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets"
@import "bootstrap"


.typeahead,
.tt-query,
.tt-hint
  width: 480px
  height: 30px
  padding: 8px 12px
  font-size: 24px
  line-height: 30px
  border: 2px solid #ccc
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  outline: none


.typeahead
  background-color: #fff


.typeahead:focus
  border: 2px solid #0097cf

.typeahead.empty
  border: 2px solid red

.tt-query
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)


.tt-hint
  color: #999
  width: 430px


.tt-dropdown-menu
  width: 422px
  margin-top: 12px
  padding: 8px 0
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2)
  box-shadow: 0 5px 10px rgba(0,0,0,.2)


.tt-suggestion
  padding: 3px 20px
  font-size: 18px
  line-height: 24px


.tt-suggestion.tt-cursor
  color: #fff
  background-color: #0097cf



.tt-suggestion p
  margin: 0


.gist
  font-size: 14px


#main
  width: 1000px
  margin: 10px auto

#map
  float: right
  width: 490px
  height: 500px
  border: 1px solid #DDD

.address-panel
  float: left
  width: 430px


.typeahead
  width: 405px


.twitter-typeahead
  display: block !important