head
  meta[name="viewport" content="width=device-width, initial-scale=1.0"]
  title Address picker

  == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
  script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyB0CuenxncN6WymAy4GOwUizeYsBmd2oZk"
  == javascript_include_tag 'application', 'data-turbolinks-track' => true

  == csrf_meta_tags
