doctype html
html
  == render "layouts/head"
  body class="#{yield(:body_class)}"
    .container
      - flash.each do |type, message|
        div id="message" class = flash_class(type)
          = message
      == yield